

<ul>
    <li>
        <a routerLink="/auth/login">
            Ir a login
        </a>
    </li>
    <li>
        <a routerLink="/auth/registro">
            Ir a registro
        </a>
    </li>
    <li>
        <a routerLink="/heroes/listado">
            Heroes listado 
        </a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">
            Heroes agregar
        </a>
    </li>
    <li>
        <a routerLink="/heroes/editar">
            Heroes editar 
        </a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">
            Heroes buscar 
        </a>
    </li>
    <li>
        <a routerLink="/heroes/:id">
            Heroes id 
        </a>
    </li>
</ul>
